<h1>Add New Rescue</h1>
<form action="/animals" method="post">

  <form action="/animals" method="post" accept-charset="utf-8">
    <!-- SPECIAL INPUT TO ALLOW RAILS TO USE THIS FORM -->
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <label for="name">Name</label>
    <input type="text" name="name" value="" id="name" </input>

    <label for="info">info</label>
    <input type="text" name="info" value="" id="info">
    <input type="submit" value="Add Rescue">


  </form>
