
<head>
  <title> Baby Animal Rescue! </title>
  <link rel="stylesheet"type="text/css"href="https://fonts.googleapis.com/css?family=Muli|Raleway">
  <meta charset="UTF-8">
</head>
<body>

  <header class="Home">
    <h1>Baby Animal Rescue!</h1>
  </header>

  <section class="animal-list">
    <ul>
      <% @animals.each do |animal| %>
      <li>
        <%= link_to animal.name, animal_path(animal.id) %>
        <% end %>
    </ul>
  </section>

  <p>
    <section class="animal-list">
      <%= button_to "Add New Rescue", new_animal_path, method: :get %>
    </section>
  </p>
  <a><img src="http://static.boredpanda.com/blog/wp-content/uploads/2016/05/cute-baby-foxes-cubs-11-574436ae5e411__880.jpg" height="200" width="300"/></a>
  <a><img src="https://s-media-cache-ak0.pinimg.com/originals/43/52/27/4352279b8c3223432751f9f9f559b853.jpg" height="200" width="300" /></a>

  <a><img src="http://4.bp.blogspot.com/-uFyIKAephek/UMii8IM7_FI/AAAAAAAAAHE/HWq64GOJVzw/s1600/kit.jpg" height="200" width="300" /></a>
 <a><img src="http://i.imgur.com/lOvcXQO.jpg?1" height="200" width="300" /></a>
 <a><img src="http://i.imgur.com/TQffqMf.jpg" eight="200" width="300"  /> </a>

</body>
